{% extends "base.html" %}
{% from "form_macro.html" import render_field %}


{% block title %}
    MDX Executer
{% endblock %}

{% block page_header %}
    Execute Query
{% endblock %}

{% block cube_name %}
    <b> SCHEMA : {{ cube }} </b>
{% endblock %}


{% block mdx_place %}

    <div class="row">
        <div class="col-lg-3 col-md-6">


            <button type="button" id="copy-button" data-clipboard-target="#mdx" class="btn btn-info btn-circle">
                <i class="fa fa-link"></i>
            </button>


            <button type="button" id="clear-button" class="btn btn-danger btn-circle">
                <i class="fa fa-times"></i>
            </button>
        </div>
    </div>

    <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i><b> MDX Execution </b>
        <div class="pull-right">
            <div class="btn-group">
                <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                    Actions
                    <span class="caret"></span>
                </button>
                <ul class="dropdown-menu pull-right" role="menu">
                    <li>
                        <a href="javascript:;" onclick="document.getElementById('form1').submit();">Execute</a>
                        {#                                <input type="submit" value="ok">#}
                    </li>

                </ul>
            </div>
        </div>

    </div>

    <!-- /.panel-heading -->
    <div class="panel-body">
        {{ render_field(form.mdx, rows=8, placeholder="""SELECT  {[X].[X].[X]} ON COLUMNS,   {[X].[X].[X]} ON ROWS  FROM [X] """) }}    </div>
    <!-- /.panel-body -->

{% endblock %}



{% block table_result %}
    {% if t_result %}
        {{ t_result|safe }}
    {% endif %}
{% endblock %}

{% block tree_cube %}


    <ul id="allfields" runat="server">


        {% for t in tables %}

            {% if t == "Facts" %}

                <li>
                    <input type="checkbox" id="Measures"/>
                    <i class="fa fa-angle-double-right"></i>
                    <i class="fa fa-angle-double-down"></i>
                    <label for="Measures">{{ cube }}</label>
                    <ul>
                        <li>
                            <input type="checkbox" id="{{ t+"id" }}"/>
                            <i class="fa fa-angle-double-right"></i>
                            <i class="fa fa-angle-double-down"></i>
                            <label for="{{ t+"id" }}">Measures</label>
                            <ul>
                                {% for measure in measures %}
                                    <li title="{{ measure }}" id="Measures].[{{ measure }}">{{ measure }}</li>
                                {% endfor %}
                                {##}
                                {#          <li title="gggggggggggggg" id="node14">Sous-sous dossier B21</li>#}
                                {#          <li title="gggggggggggggg" id="node15">Sous-sous dossier B22</li>#}
                            </ul>
                        </li>
                    </ul>
                </li>


            {% else %}


                <li>
                    <input type="checkbox" id="{{ t }}"/>
                    <i class="fa fa-angle-double-right"></i>
                    <i class="fa fa-angle-double-down"></i>
                    <label for="{{ t }}">{{ t }}</label>
                    <ul>
                        <li>
                            <input type="checkbox" id="{{ t+"id" }}"/>
                            <i class="fa fa-angle-double-right"></i>
                            <i class="fa fa-angle-double-down"></i>
                            <label for="{{ t+"id" }}">Levels</label>
                            <ul>
                                {% for col in tables[t].columns %}
                                    <li title="{{ col }}" id="{{ t }}].[{{ t }}].[{{ col }}">{{ col }}</li>


                                {% endfor %}

                            </ul>

                        </li>

                        <div id="hirerchy_{{ t }}"></div>
                    </ul>

                </li>

            {% endif %}

        {% endfor %}


    </ul>


{% endblock %}


{% block js_t %}
    <script src="{{ url_for('static',filename='vendor/jquery/jquery-3.1.0.min.js') }}"></script>

    <script src="{{ url_for('static',filename='vendor/jquery/jquery-ui.min.js') }}"></script>

    <script src="{{ url_for('static',filename='vendor/jquery/jquery.bgiframe.js') }}"></script>


    {##}
    {#    <script src="http://jquery-ui.googlecode.com/svn/tags/latest/ui/minified/i18n/jquery-ui-i18n.min.js"#}
    {#            type="text/javascript"></script>#}
    {##}



    {#<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>#}
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/themes/default/style.min.css"/>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jstree/3.0.9/jstree.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.4.0/clipboard.min.js"></script>



    <script language="javascript" type="text/javascript">
        $(function () {
            $("#allfields li").draggable({
                appendTo: "body",
                helper: "clone",
                cursor: "select",
                revert: "invalid"
            });
            initDroppable($("#mdx"));
            function initDroppable($elements) {
                $elements.droppable({
                    hoverClass: "textarea",
                    accept: ":not(.ui-sortable-helper)",
                    drop: function (event, ui) {
                        var $this = $(this);

                        var tempid = ui.draggable.attr("id");
                        var dropText;
                        dropText = " [" + tempid + "]";
                        var droparea = document.getElementById('mdx');
                        var range1 = droparea.selectionStart;
                        var range2 = droparea.selectionEnd;
                        var val = droparea.value;
                        var str1 = val.substring(0, range1);
                        var str3 = val.substring(range1, val.length);
                        droparea.value = str1 + dropText + str3;
                    }
                });
            }
        });


    </script>


    <script>
        (function () {
            new Clipboard('#copy-button');
        })();
    </script>

    <script>
        $("#clear-button").click(
            function () {
                $("#mdx").val("");
            }
        );
    </script>

    {% for t in tables %}
        {% if t != "Facts" %}
            <script>
                $('#hirerchy_{{ t }}').jstree({
                    'core': {
                        'data': [
                            {% for hierarchy in hierarchies[t] %}

                                {{ hierarchy | safe }},

                            {% endfor %}
                        ]
                    }
                });
            </script>
            <script>
                $('#hirerchy_{{ t }}').on("changed.jstree", function (e, data) {
                    document.getElementById("mdx").value += "[" + data.selected + "]";
                });

            </script>
        {% endif %}
    {% endfor %}

{% endblock %}

{% block css_imp %}

    <style>

        /* fonctionnel */
        input {
            display: none;
        }

        input ~ ul {
            display: none;
        }

        input:checked ~ ul {
            display: block;
        }

        input ~ .fa-angle-double-down {
            display: none;
        }

        input:checked ~ .fa-angle-double-right {
            display: none;
        }

        input:checked ~ .fa-angle-double-down {
            display: inline;
        }

        /* habillage */
        li {
            display: block;
            font-family: 'Arial';
            font-size: 15px;
            padding: 0.2em;
            border: 1px solid transparent;
        }

        li:hover {
            border: 1px solid grey;
            border-radius: 3px;
            background-color: lightgrey;
        }

    </style>

    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{ url_for('static',filename='dist/css/jqx.base.css') }}" rel="stylesheet">
    <link href="{{ url_for('static',filename='dist/css/jqx.summer.css') }}" rel="stylesheet">



    <style>
        .textarea {
            background: #fff;
        }

        .dragitems {
            width: 20%;
            float: left;
            background: #f1f1f1;
        }

        .dropitems {
            width: 70%;
            float: left;
            background: #f1f1f1;
            margin-left: 20px;
            padding: 5px 5px 5px 5px;
        }

        .dragitems ul {
            list-style-type: none;
            padding-left: 5px;
            display: block;
        }

        #content {
            height: 400px;
            width: 650px;
        }
    </style>

{% endblock %}
