{% macro render_field(field) %}

 <tr {% if field.errors %} class="error" {% endif %}>
                    <td>
                        {{ field.label }}
                    </td>
                     <td>
                        {{ field(**kwargs) | safe }}
                    </td>
                </tr>

                <tr class="error">
                <td></td>
                <td>
                    <ul>
                        {% for error in field.errors  %}
                          <li style="color: red"> {{ error }}  </li>

                         {% endfor %}
                    </ul>
                </td>
                </tr>
{% endmacro %}