.idea
.tox
.dox
.travis-solo
.DS_Store
.coverage
.vagrant
.cache
.coveralls.yml
.ropeproject
*,cover

sandbox
node_modules
env
whoosh*
abilian.db
tmp
cache
dist
tests/cache
tests/tmp
tests/extra_files
maxid.data
results
build
MANIFEST
docs/_build
htmlcov
junit-py27.xml

abilian/static/misc*
abilian/static/.webassets-cache
abilian/static/gen
abilian/static/placeholders

*.pyc
*.egg
*.egg-info
*.swp
*.prof
*.stats
*.mo
.cov2emacs.log
/.eggs/
