# Tools / dev / testing
tox
PrettyTable
gprof2dot
ipdb
mccabe
pip-tools
py-cpuinfo
pytest
pytest-cov
# xmla
-e "git+https://github.com/mouadhkaabachi/olap.git@55f16d081d05415cba44bcc89304da77ebb7af5f#egg=xmla&subdirectory=xmla"

#databases_connectors
#pyodbc #need some packages to be installed (sudo apt-get install unixodbc-dev)
#cx_oracle
#mysql-python # don't work in py3
#pymysql

# linting
flake8
flake8-tidy-imports
mastool
pylint
mccabe
pre-commit

# Formatting
#black (only for Python 3)
isort

# Doc
sphinx-click
sphinx-rtd-theme
