typing
#grako
pandas<1
lxml
spyne<3
SQLAlchemy==1.1.15 # <1.2 required by bonobo
xmlwitch
attrs

#databases_connectors
#pyodbc #need some packages to be installed (sudo apt-get install unixodbc-dev)
#cx_oracle
#mysql-python # don't work in py3
mysqlclient
pymysql
psycopg2
pyyaml

# Test
werkzeug

# Tools
#psutil
#pympler

#ETL
bonobo
bonobo-sqlalchemy
awesome-slugify
python-dotenv
